<h1>
    my counter
</h1>

<input type="number" name="values" id="time" value="2">
<input type="button" id="submit" value="count" onclick="initiator()">
<input type="button" id="add" value="Add" onclick="add()" disabled="true">
 
<p id="counts"></p>
<script> 
//Initiate the timer
function initiator(){
    document.getElementById("submit").disabled=true
    var val=document.getElementById("time").value
    run(val)
}
//Start the clock
function run(val){
    document.getElementById("add").disabled=false
    document.getElementById("counts").innerHTML=val
    x=setInterval(() => {
        val -= 1
        document.getElementById("counts").innerHTML=val
        if (val==0){
            clearInterval(x)
            document.getElementById("counts").innerHTML='Ended'
            document.getElementById("submit").disabled=false
            document.getElementById("add").disabled=true
        }
    }, 1000)
} 
//Add more time to clock
function add(){
    clearInterval(x)
    val=document.getElementById("counts").innerText
    addedVal=document.getElementById("time").value
    run(parseInt(val)+parseInt(addedVal))
}
</script> 
  