{% load static from staticfiles %}
<head>
  <link rel="stylesheet"  href="{%  static  'css/counter.css'  %}">
  <script src="{% static 'script/counter.js' %}"></script>
  <title>clock</title>
</head>
<body>
    <div class="center">
        <h1>
            My counter
        </h1>
        <p>
            <input type="number" id="time" name="values" value="2">
        </p>
        <p>
            <input type="button" id="count" value="count" onclick="initiator()">
            <input type="button" id="add" value="Add" onclick="add()" disabled="true">
            <input type="button" id="reduce" value="Reduce" onclick="reduce()" disabled="true">
        </p>
        
        <p id="clock"></p>
    </div>
</body>
