{% load static from staticfiles %}
<head>
  <link rel="stylesheet"  href="{%  static  'css/counter.css'  %}">
  <script src="{% static 'script/counter.js' %}"></script>
  <title>Up_counter</title>
</head>
<body>
    <div class="center">
        <h1>
            My Up_counter
        </h1>
        <p>
            <input type="button" id="Start" value="Start" onclick="intiateUp()">
            <input type="button" id="Stop" value="Stop" onclick="stop()" disabled="true">
            <input type="button" id="Resume" value="Resume" onclick="resume()" disabled="true">
            <input type="button" value="Back" onclick="history.go(-1);">
        </p>
        <p id="upclock">00:00</p>
    </div>
</body>
