{% load static from staticfiles %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'script/counter.js' %}"></script>
<title>index</title>
<h1>
    About:
</h1>
<p>
    This is a simple application for learning basic concepts of django framework including javascript, html, css, ajax, sqlite.
</p>
<h3>
    HTML, CSS, javascript
</h3>
<form action="/downCounter/">
    <input type="submit" value="Down_counter">
</form>
<form action="/counter/">
    <input type="submit" value="Up_counter">
</form>
<form method="post" id="form">{% csrf_token %}
    <h3>
        ajax, sqlite
    </h3>
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" name="name" id="name" placeholder="enter name"></td>
        </tr>
        <tr>
            <td>Pin:</td>
            <td><input type="password" name="pin" id="pin" placeholder="enter pin"></td>
        </tr>
        <tr>
            <td><input type="button" id="ok" value="ok" onclick="call()"></td>
        </tr>
    </table>
</form>
<form action="/namePin/">
    <input type="submit" value="show_details">
</form>
