<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<title>index</title>
<h1>
    About:
</h1>
<p>
    This is a simple application for learning basic concepts of django framework including javascript, html, css, ajax, sqlite.
</p>
<h3>
    HTML, CSS, javascript
</h3>
<form action="/downCounter/">
    <input type="submit" value="Down_counter">
</form>
<form action="/counter/">
    <input type="submit" value="Up_counter">
</form>
<form method="post" id="form">{% csrf_token %}
    <h3>
        ajax, sqlite
    </h3>
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" name="name" id="name" placeholder="enter name"></td>
        </tr>
        <tr>
            <td>Pin:</td>
            <td><input type="password" name="pin" id="pin" placeholder="enter pin"></td>
        </tr>
        <tr>
            <td><input type="submit" id="submit" value="ok"></td>
        </tr>
    </table>
</form>

<script>

    const form = document.getElementById('form');
    form.addEventListener("submit", submitHandler);

    function submitHandler(e) {
        e.preventDefault();
        $.ajax({
            type        : 'POST',
            url         : location.origin +"/",
            data        : $('#form').serialize(),
            dataType    : 'json',
            success     : successFunction
        });
    }

    function successFunction(msg) {
        alert(msg['message']+'!')
    }
    
</script>